
.ol-zoom,
.attribution-container {
  position: absolute;
  width: auto;
  z-index: 1000;
}


.ol-zoom {
  bottom: 8px;

  right: 10px;
}


.attribution-container {
  top: 10px;
 
  right: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgba(3, 3, 3, 0.8);
  
  border-radius: 10px;
  padding: 2px 8px;
}


.ol-attribution {
  background-color: transparent;
  color: #777;

  border: 0;
  height: 30px;
  margin: 0 2px;
  padding-bottom: 2px;
}


.ol-attribution-data {
  background-color: transparent;
  color: #777;
  
}


.ol-attribution-anchor {
  text-decoration: none !important;
  color: #aaa;
 
  margin-right: 10px;
}


.ol-rotate {
  position: absolute;
  width: auto;
  bottom: 8px;
 
  right: 91px;
}


.ol-full-screen {
  position: absolute;
  width: auto;
  bottom: 8px;
  
  right: 132px;
}


.ol-zoom-in,
.ol-zoom-out,
.ol-rotate-reset,
.ol-full-screen-false {
  padding: 0px 5px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 0;
  background-color: rgba(16, 63, 92, 0.8);
  
  color: #fcfbfb;
 
  font-size: 16px;
}

.ol-full-screen-true {
  padding: 0px 5px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 0;
  background-color: #ccc;
  
  color: #345;
  
  font-size: 30px;
  margin-right: 5px;
  box-shadow: 0px 0px 10px rgb(55, 71, 77);
}


.ol-zoom-in:hover,
.ol-zoom-out:hover,
.ol-rotate-reset:hover,
.ol-attribution:hover,
.ol-full-screen-false:hover {
  color: #aaa;
  
}


.ol-zoomslider-thumb {
  width: 20px;
  height: 10px;
}







 