.search-bar-main-container {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color:rgba(16, 63, 92, 0.8);
  color: lightgrey;
  border-radius: 15px;
  width: 35%;
  z-index: 1000;
}
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  border-radius: 10px;
  margin: 3px;
  padding: 3px 5px;
  background-color: transparent;
  color: lightgrey;
  cursor: pointer;
  font-family: cursive;
  width: 80%;
  border: 0;
  scale: 0.9;
}
.button {
  margin: 5px;
  border: 0;
  background-color: transparent;
  color: gray;
}
.button:hover,
.button:active {
  color: lightgray;
}
.search-result {
  cursor: pointer;
  padding: 2px 10px;
  font-family: cursive;
  font-size: 14px;
}
